#top-info {
    height: 30px;
    width: 100%;
    filter: alpha(Opacity=20); /*支持 IE 浏览器*/
    -moz-opacity: 0.2; /*支持 FireFox 浏览器*/
    opacity: 0.2; /*支持 Chrome, Opera, Safari 等浏览器*/
    z-index: 100;
    background-color: black;
    position: absolute;
    top: 1px;
}
#bottom-info {
    height:30px;
    width:100%;
    filter:alpha(Opacity=30);/*支持 IE 浏览器*/
    -moz-opacity:0.5;/*支持 FireFox 浏览器*/
    opacity: 0.5;/*支持 Chrome, Opera, Safari 等浏览器*/
    z-index:100;
    background-color: black;
    position: absolute ;
    bottom: 50px;
}

.circulate h4{
    padding: 1% 2% 0 0;
}

.review-info-content{
    background-color: white;
    padding-right: auto;
    padding-top: 0;
    padding-left: 2%;
    padding-bottom: 2%;
    line-height: 2;
}



